* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.header {
  border: none;
  background: #636c79;
  width: 1510px;
  height: 650px;
  font-size: 16px;
  color: white;
  text-align: -webkit-auto;
}
.logo {
  margin: 30px 40px;
  width: 10%;
  height: auto;
}
.nav-items {
  list-style: none;
  color: #7c7b7b;
  font-size: 28px;
  color: white;
  position: absolute;
  top: 28px;
  left: 600px;
}
.nav-item {
  display: inline-block;
  margin: 0 10px;
  font-weight: 100;
}
.talk-btn {
  position: absolute;
  top: 28px;
  left: 1250px;
  background: transparent;
  border-color: #cecece;
  color: #ffffff;
  width: 150px;
  height: 40px;
  font-size: 16px;
}
.head-img {
  position: absolute;
  top: 120px;
  left: 200px;
  width: 26%;
  height: auto;
}
.header1 {
  position: absolute;
  top: 150px;
  left: 700px;
  font-size: 58px;
}
.par {
  position: absolute;
  top: 380px;
  left: 700px;
  font-size: 20px;
  color: #c5c5c5;
}
input {
  position: absolute;
  top: 500px;
  left: 700px;
  width: 450px;
  height: 55px;
  font-size: 16px;
}
.talk {
  position: absolute;
  top: 505px;
  left: 995px;
  background: #8bb7a2;
  border: none;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 16px;
}
/* header section done */
h2 {
  position: absolute;
  top: 720px;
  left: 400px;
  font-size: 48px;
  text-align: center;
}
.num {
  position: absolute;
  top: 880px;
  left: 200px;
  font-size: 20px;
}
.numbers {
  display: inline-block;
  margin: 0 80px;
}
.pro {
  position: absolute;
  top: 940px;
  left: 230px;
  font-size: 23px;
}
.project {
  display: inline-block;
  margin: 0 40px;
}
.img {
  position: absolute;
  top: 1040px;
  left: 280px;
}
/*  target section done  */
h3 {
  position: absolute;
  top: 1560px;
  left: 530px;
  font-size: 40px;
  text-align: center;
}


